
body {
    margin-top:100px;
    background-color: #f8f9fa;
}

.card {
    border-radius: 20px;
    border: none;
}

h2 {
    font-weight: 600;
    color: #333;
}

#registrarse{
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
#botaoSair {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

